<a href="https://colab.research.google.com/github/simon-win/simon/blob/master/Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 라이브러리
import tensorflow as tf
import pandas as pd

In [39]:
# 데이터
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스톤 = pd.read_csv(파일경로)
print(보스톤.columns)
보스톤.head()
# 프린트 칼럼사용! 눈으로 확인
# 프린트랑 헤드 줄 바꾸면 프린트만 나옴 - 왜?

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [15]:
# 독립변수, 종속변수 분리
독립 = 보스톤[['crim',	'zn',	'indus',	'chas',	'nox',	'rm',	'age',	'dis',	'rad',	'tax',	'ptratio',	'b',	'lstat']]
종속 = 보스톤[['medv']]
print(독립.shape, 종속.shape)
# 프린트 shape 를 통해 꼭 눈으로 확인
# 독립변수 : crm 범죄율 chas 찰스강 rm 평균방수 age 노후주택비율 tax 재산세세율 ptratio 학생교사비율 lstat 저소득층비율 medv 중간값

(506, 13) (506, 1)

In [33]:
# 모델만들기
x = tf.keras.layers.Input(shape=[13])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')
# 궁금증 input은 shape이고 dense 는 () 안쓰는 이유?
# shape의 의미는?
# () 과 [] 의 차이
# perceptron 퍼셉트론
# weight 가중치
# b = bias 편향

In [49]:
# 모델학습
model.fit(독립,종속,epochs=10)
model.fit(독립,종속,epochs=10000, verbose=0)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8981
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9917
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6068
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8179
Epoch 5/10
16/16 [==============================] - 0s 993us/step - loss: 24.1883
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0398
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7522
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0825
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9842
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0204

In [50]:
# 모델이용 예측값
model.predict(독립)
model.predict(독립[5:10])

array([[25.178165],
       [21.88448 ],
       [18.833982],
       [10.726571],
       [18.179789]], dtype=float32)

In [52]:
# python slicing
# 회귀에서 100% 맞추는건 불가능
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [54]:
# 모델수식확인
model.get_weights()

[array([[-0.09655642],
        [ 0.04748737],
        [-0.01191489],
        [ 2.629996  ],
        [-5.7027807 ],
        [ 5.005062  ],
        [-0.00832036],
        [-1.1482427 ],
        [ 0.21942845],
        [-0.01150059],
        [-0.60433245],
        [ 0.01233195],
        [-0.4715239 ]], dtype=float32), array([13.877861], dtype=float32)]

집값 = -0.09655642 * x1 + 0.0474873 * x2 + -0.01191489 * x3 + 2.629996 * x4 + -5.7027807 * x5 + 5.005062 * x6 + -0.00832036 * x7 + -1.1482427 * x8 + 0.21942845 * x9 + -0.01150059 * x10 + -0.60433245 * x11 + 0.01233195 * x12 + -0.4715239 * x13 + 13.877861