<a href="https://colab.research.google.com/github/simon-win/simon/blob/master/%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("hello Colaboratory")
text = 'hello Python'
print(text)

hello Colaboratory
hello Python

In [5]:
import pandas as pd

In [8]:
# 파일들로부터 데이터 읽어오기
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스톤 = pd.read_csv(파일경로)
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

In [10]:
# 데이터 모양으로 확인하기
print(레모네이드.shape)
print(보스톤.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

In [13]:
# 칼럼이름 출력
print(레모네이드.columns)
print(보스톤.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [20]:
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)
독립 = 보스톤[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스톤[['medv']]
print(독립.shape, 종속.shape)
독립 = 아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 아이리스[['품종']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [23]:
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [25]:
보스톤.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [27]:
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [32]:
1 # 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [34]:
1 # 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [36]:
1 # 종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [38]:
1 # 모델을 만듭니다
x = tf.keras.layers.Input(shape=[1])
y = tf. keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [44]:
1 # 모델을 학습합니다
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 2ms/step - loss: 2.9700e-04
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 2.9683e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 2.9668e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 2.9660e-04
Epoch 5/10
1/1 [==============================] - 0s 4ms/step - loss: 2.9646e-04
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 2.9630e-04
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 2.9610e-04
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 2.9596e-04
Epoch 9/10
1/1 [==============================] - 0s 3ms/step - loss: 2.9587e-04
Epoch 10/10
1/1 [==============================] - 0s 3ms/step - loss: 2.9582e-04

In [46]:
1 # 모델을 이용합니다
model.predict(독립)

array([[40.029697],
       [42.02288 ],
       [44.016068],
       [46.00925 ],
       [48.002434],
       [49.99562 ]], dtype=float32)

In [48]:
model.predict([[15]])

array([[30.063774]], dtype=float32)